*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.header-img{
    width: 100%;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

main{
	width: 840px;
	margin: 50px auto;
}
.header-text{
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px;
	color: gray;
	font-size: 20px;
}

.box{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #000000;
}

.img1{
	background-size: cover;
	background-position: bottom;
}

.img2{
	background-size: cover;
	background-position: bottom;
}

.img3{
	background-size: cover;
	background-position: bottom;
}

.img4{
	background-size: cover;
	background-position: bottom;
}

